.signin-product-page {
  // max-width: 600px;
  max-width: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 auto;
  // align-items: center;
}

.btn-success {
  margin-top: 20px;
  width: 100%;
}
